.forminator-poll {

    .forminator-button {
        width: auto;
        min-width: 100px;
        height: 40px;
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
        padding: 10px 5px;
        border: 0;
        border-radius: 2px;
        box-shadow: none;
        font: 500 13px/20px $font;
        text-decoration: none;
        transition: 0.3s ease;

        &, &:visited {

            // REMOVE when color pickers and
            // default color palettes are defined
            background-color: $color-blue;
            color: $color-white;
        }

        &:hover {

            // REMOVE when color pickers and
            // default color palettes are defined
            background-color: $color-blue--dark;
        }

        &:active, &:focus {
            outline: none;
            box-shadow: none;

            // REMOVE when color pickers and
            // default color palettes are defined
            background-color: $color-blue--dark;
        }

        &.forminator-button-ghost {
            min-width: 1px;
            height: auto;
            padding: 0;
            background: transparent;

            &:hover {

                // REMOVE when color pickers and
                // default color palettes are defined
                color: $color-blue--dark;
            }

            &:active, &:focus {
    
                // REMOVE when color pickers and
                // default color palettes are defined
                color: $color-blue--dark;
            }

            // REMOVE when color pickers and
            // default color palettes are defined
            color: $color-blue;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.forminator-custom-form {

    .forminator-button {
        width: auto;
        min-width: 100px;
        height: 40px;
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
        letter-spacing: -0.25px;
        text-align: center;
        transition: 0.3s ease;

        &, &:visited {

            // REMOVE when color pickers and
            // default color palettes are defined
            background-color: $color-gray--dark;
            color: $color-white;
        }

        &:focus {
            outline: none;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        // REMOVE when color pickers and
        // default color palettes are defined
        font-size: 13px;
        font-weight: 500;
        font-family: $font;
    }

    // DESIGN flat
    &.forminator-design--flat {
        
        .forminator-button {
            padding: 10px 5px;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            line-height: 20px;

            &:hover {

                // REMOVE when color pickers and
                // default color palettes are defined
                background-color: $color-black;
                color: $color-white;
            }

            &:focus, &:active {
                box-shadow: none;

                // REMOVE when color pickers and
                // default color palettes are defined
                background-color: $color-gray;
                color: $color-white;
            }
        }
    }

    // DESIGN bold
    &.forminator-design--bold {
        
        .forminator-button {
            padding: 7px 5px;
            border-width: 3px;
            border-style: solid;
            border-radius: 0;
            box-shadow: none;
            line-height: 20px;

            &, &:visited {

                // REMOVE when color pickers and
                // default color palettes are defined
                border-color: $color-black;
            }

            &:hover {

                // REMOVE when color pickers and
                // default color palettes are defined
                background-color: $color-black;
                color: $color-white;
            }

            &:focus, &:active {
                box-shadow: none;

                // REMOVE when color pickers and
                // default color palettes are defined
                background-color: $color-gray;
                color: $color-white;
            }
        }
    }

    // DESIGN material
    &.forminator-design--material {
        
        .forminator-button {
            padding: 7px 5px;
            border: 0;
            border-radius: 2px;
            line-height: 20px;

            &, &:visited {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
            }

            &:hover {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);

                // REMOVE when color pickers and
                // default color palettes are defined
                background-color: $color-black;
                color: $color-white;
            }

            &:focus, &:active {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);

                // REMOVE when color pickers and
                // default color palettes are defined
                background-color: $color-gray;
                color: $color-white;
            }
        }
    }
}