.forminator-poll {

    .forminator-input {
        width: 100%;
        height: 40px;
        display: block;
        padding: 9px;
        border: 1px solid transparent;
        border-radius: 2px;
        background: transparent;
        box-shadow: none;
        font: 400 16px/20px $font;
        transition: 0.3s ease;

        &:-moz-placeholder {
            color: #8C8C8C;
        }
    
        &::-moz-placeholder {
            color: #8C8C8C;
        }

        &:-ms-input-placeholder {
            color: #8C8C8C;
        }

        &::-webkit-input-placeholder {
            color: #8C8C8C;
        }

        &:hover {}

        &:active, &:focus {}

        // REMOVE when color pickers and
        // default color palettes are defined
        border-color: rgba(0,0,0,0.05);
        background-color: #F2F2F2;
        color: #1E1E1E;
    }
}

.forminator-custom-form {

    .forminator-input {
        width: 100%;
        height: 40px;
        display: block;
        padding: 10px;
        border-color: transparent;
        background: transparent;
        box-shadow: none;
        line-height: 20px;
        transition: 0.3s ease;

        &:-moz-placeholder {
            color: #8C8C8C;
        }
    
        &::-moz-placeholder {
            color: #8C8C8C;
        }

        &:-ms-input-placeholder {
            color: #8C8C8C;
        }

        &::-webkit-input-placeholder {
            color: #8C8C8C;
        }

        &:hover {

            // REMOVE when color pickers and
            // default color palettes are defined
            color: #808080;
            background-color: #E6E6E6;
        }

        &:focus {
            outline: none;
            box-shadow: none;

            // REMOVE when color pickers and
            // default color palettes are defined
            border-color: rgba(0,0,0,0.55);
            background-color: $color-white;
        }

        // REMOVE when color pickers and
        // default color palettes are defined
        border-color: rgba(0,0,0,0.05);
        background-color: #F2F2F2;
        color: #1E1E1E;
        font-size: 16px;
        font-family: $font;
        font-weight: 400;
    }

    // DESIGN flat
    &.forminator-design--flat {

        .forminator-input {
            padding: 9px;
            border-width: 1px;
            border-style: solid;
        }
    }

    // DESIGN bold
    &.forminator-design--bold {

        .forminator-input {
            padding: 7px;
            border-width: 3px;
            border-style: solid;
        }
    }

    // DESIGN material
    &.forminator-design--material {

        .forminator-input {
            padding-right: 0;
            padding-bottom: 9px;
            padding-left: 0;
            border: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;

            &:focus {
                padding-bottom: 8px;
                border-bottom-width: 2px;
                outline: none;
                box-shadow: none;
            }
        }
    }
}